data/
models/
stan/*
!stan/*.stan
posteriors/

.DS_Store
.Rhistory
.Rprof.user

\#*\#
.\#*

*_cache/
*_files/
*.docx
*.html
*.org
*.pdf

*.aux
*.log
*.tex
!templates/*.tex

*_cache/

*.RData
*.rda
*.rds
*.dta
*.sav

*.tar.gz
*.zip
*.zst

/.quarto/
